{
	"feedUrl": "//feed-fossasia-api.herokuapp.com/feed.php",
	"embedTimelineUrl": "//timeline-fossasia-api.herokuapp.com/embed.php",
	"ffGeoJsonUrl": "http://api.fossasia.net/map/ffGeoJsonp.php",
	"postContentLimit": 3,
	"postContentLength": 30
}
