{
	"feedUrl": "//api.freifunk.net/feed/feed.php",
	"embedTimelineUrl": "//timeline-fossasia-api.herokuapp.com/embed.php",
	"ffGeoJsonUrl": "http://api.freifunk.net/map/ffGeoJsonp.php",
	"postContentLimit": 3,
	"postContentLength": 30,
	"showNews": true,
	"showEvents": true,
	"mapboxId": "<your mapbox tileset id>"
}
